:root {
  --primery-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primery-text-color-teme-light: #000000;
  --secondary-text-color-teme-light: #212121;
  --primery-text-color-teme-dark: #FFFFFF;
  --secondary-text-color-teme-dark: #757575;
  --third-text-color-teme-dark: #afb1b8;
  --accent-color: #2196F3;
  --via-magenta: #FF0090;
  --background-color-teme-dark: #2F303A;
  --background-color-teme-light: #F5F4FA;
}

body {
  font-family: var(--primery-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.visuality-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 320px;
  background-color: var(--via-magenta);
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.main-title {
  max-width: 360px;
  word-wrap: break-word;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-text-color-teme-dark);
}

@media screen and (min-width: 1200px) {
  .main-title {
    max-width: 690px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-light);
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 36px;
  }
}
.logo-link {
  margin-right: 92px;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color-teme-light);
}

.modal-button {
  min-width: 160px;
  padding: 10px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  margin-top: 30px;
  /* background-color: transparent; */
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primery-text-color-teme-dark);
  background-color: var(--accent-color);
  text-transform: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal-button {
    padding: 10px 32px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primery-text-color-teme-dark);
  border-radius: 50%;
  fill: var(--third-text-color-teme-dark);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  fill: var(--primery-text-color-teme-dark);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  /* box-sizing: none; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 608px;
  border-radius: 4px;
  background-color: var(--primery-text-color-teme-dark);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  fill: var(--primery-text-color-teme-light);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-header {
  margin-bottom: 12px;
  word-wrap: break-word;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-light);
}

.contact-text-name {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-teme-dark);
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-dark);
}
.contact-form-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--secondary-text-color-teme-light);
  cursor: pointer;
  margin-right: 10px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  border: var(--accent-color);
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.contact-form-checkbox-label > a {
  color: var(--accent-color);
  text-decoration: underline var(--accent-color);
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primery-text-color-teme-dark);
  text-transform: none;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form-checkbox-label {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primery-text-color-teme-dark);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  padding: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  fill: var(--primery-text-color-teme-light);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu__nav-list:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-item {
  font-family: var(--primery-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-teme-light);
}

.mobile-menu__nav-item--accent {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  padding-top: 186px;
}

.mobile-menu__contact-list {
  margin-bottom: 32px;
}

.mobile-menu__contact-mail {
  font-family: var(--primery-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__contact-tel {
  font-family: var(--primery-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-teme-light);
}

.mobile-menu__links {
  margin-top: 32px;
  display: flex;
}

.mobile-menu__social-link {
  margin-right: 5px;
}

.mobile-menu__link {
  font-family: var(--primery-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__line {
  font-style: normal;
  line-height: 15px;
  color: rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
  }
  .navigation {
    display: none;
  }
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: var(--primery-text-color-teme-light);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-btn:hover, .mobile-menu-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu-btn__icon {
    fill: var(--secondary-text-color-teme-light);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid #ececec;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link-hover::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .contacts-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .contact-list__item:not(:last-child) {
    padding-bottom: 10px;
  }
  .contact-list__information {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__information:hover, .contact-list__information:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .contact-item {
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    align-items: center;
  }
  .contacts-list:not(:last-child) {
    margin-right: 10px;
  }
  .contact-list__item:not(:last-child) {
    padding-bottom: 0;
    margin-right: 50px;
  }
  .contact-list__information {
    font-size: 14px;
    line-height: 1.14;
  }
}
.hero {
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color-teme-dark);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-mobile-@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-tablet.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-desktop.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-desktop-@2x.png");
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-text {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .feature-text {
    padding-top: 94px;
  }
}
.feature-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .feature-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    align-items: flex-start;
    gap: 30px;
  }
}
.feature-list__items {
  width: 270px;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .feature-list__items {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__items {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__items {
    width: 270px;
  }
}
.feature-list__wrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-teme-light);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .feature-list__wrapper {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__wrapper {
    width: 354px;
  }
}
.feature-list__item {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-light);
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    text-align: left;
  }
}
.feature-list__text {
  font-weight: 400;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-dark);
}

.feature-image {
  display: none;
}

@media screen and (min-width: 1200px) {
  .feature-image {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.feature-list__photos {
  display: flex;
  flex-direction: row;
}

.feature-list__photo:not(:last-child) {
  margin-right: 30px;
}

.feature-list__photo {
  position: relative;
}

.feature-list__signature {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color-teme-dark);
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-teme-light);
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.about-team__items {
  margin-top: 30px;
  width: 270px;
  background-color: var(--primery-text-color-teme-dark);
  border-bottom: var(--secondary-text-color-teme-light);
}

@media screen and (min-width: 480px) {
  .about-team__items {
    margin-top: 0;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .about-team {
    display: flex;
    flex-wrap: wrap;
  }
  .about-team__items {
    flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-team {
    margin-left: -30px;
    margin-top: -30px;
  }
  .about-team__items {
    flex-basis: calc((100% - 120px) / 4);
    width: 270px;
  }
}
.about-team__text {
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-light);
}

.about-team__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-dark);
  margin-bottom: 16px;
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__about {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
  width: 210px;
  height: 92px;
}

@media screen and (min-width: 738px) {
  .clients__about {
    flex-basis: calc((100% - 90px) / 3);
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__about {
    flex-basis: calc((100% - 180px) / 6);
    width: 170px;
  }
}
.clients__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: var(--secondary-text-color-teme-light);
  border: 1px solid var(--third-text-color-teme-dark);
  border-radius: 4px;
  fill: var(--third-text-color-teme-dark);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__wrapper:hover, .clients__wrapper:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer-contacts-container > .logo-link {
  color: var(--primery-text-color-teme-dark);
}

@media screen and (max-width: 1199px) {
  .footer-contacts-container > .logo-link {
    margin: 0;
  }
  .footer-contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-address {
    align-items: center;
  }
}
.contact-address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color-teme-dark);
}

.contacts {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color-teme-dark);
  opacity: 0.6;
}

.footer-links-container {
  gap: 20px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-links-container > .footer-links-title {
  text-transform: uppercase;
  color: var(--primery-text-color-teme-dark);
}
.footer-links-container .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primery-text-color-teme-dark);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links-container .social-list-link:hover, .footer-links-container .social-list-link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer-links-container {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-links-container {
    margin-left: 70px;
    align-items: baseline;
  }
}
.page-footer {
  display: flex;
  gap: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-teme-dark);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  .footer-subscription-container {
    padding-top: 60px;
  }
}
.footer-subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-subscription-container > .footer-links-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primery-text-color-teme-dark);
}

@media screen and (min-width: 1200px) {
  .footer-subscription-container {
    margin-left: auto;
    align-items: baseline;
  }
}
.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    flex-direction: row;
    align-items: baseline;
  }
}
.subscription-form-input {
  width: 320px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: var(--background-color-teme-light);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .subscription-form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form-input {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscription-form-submit-btn {
  width: 200px;
  padding: 10px 28px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form-submit-btn:hover, .subscription-form-submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .subscription-form-submit-btn {
    margin-left: 12px;
  }
}
.subscription-form-text {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primery-text-color-teme-dark);
  text-transform: none;
}

.subscription-icon {
  margin-left: 10px;
}

.project-filter {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .project-filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project-filter {
    margin-bottom: 50px;
    justify-content: center;
  }
}
.projects-filter:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .projects-filter:not(:last-child) {
    margin-bottom: 16px;
  }
}
.project-filter-button {
  padding: 5px 20px;
  border: 1px solid var(--background-color-teme-light);
  background-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primery-text-color-teme-light);
  background-color: var(--background-color-teme-light);
  text-transform: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-filter-button:hover, .project-filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primery-text-color-teme-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .project {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.project-items-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .project-items-list {
    margin-left: -30px;
    margin-top: -30px;
  }
}
.project-list-items {
  border-bottom: var(--secondary-text-color-teme-light);
}

@media screen and (min-width: 768px) {
  .project-list-items {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list-items {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.project-list {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list:hover .project-overlay {
  transform: translateY(0);
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
  padding: 62px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-text-color-teme-dark);
}

.project-list-text {
  padding: 20px 24px;
  border: solid #eeeeee;
  border-width: 0px 1px 1px 1px;
}

.project-item {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-teme-light);
}

.project-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-teme-dark);
}/*# sourceMappingURL=main.css.map */