:root{
    --primery-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primery-text-color-teme-light:#000000;
    --secondary-text-color-teme-light:#212121;
    --primery-text-color-teme-dark:#FFFFFF;
    --secondary-text-color-teme-dark:#757575;
    --third-text-color-teme-dark: #afb1b8;
    --accent-color: #2196F3;
    --background-color-teme-dark: #2F303A;
    --background-color-teme-light: #F5F4FA;
}

body{
    font-family: var(--primery-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle{
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.accent{
    color: var(--accent-color);
}

/*====Start Header====*/

.page-header{
    border-bottom: 1px solid #ececec;
}

.header-container{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.navigation{
    display: flex;
    align-items: center;
}

.logo-link{
    margin-right: 92px;

    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-light);   
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list-item:not(:last-child){
    margin-right: 50px;
}

.nav-list-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-light);
}

.nav-list-link:hover, 
.nav-list-link:focus{
    color: var(--accent-color);
}

.contacts-list{
    margin-left: auto;

    display: flex;
    align-items:center;
}

.contacts-list:not(:last-child){
    margin-right: 10px;
}


.contact-list-item:not(:last-child){
    margin-right: 50px;
}

.contact-mail, 
.contact-phone {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-dark);
}

.contact-mail:hover, 
.contact-mail:focus, 
.contact-phone:hover, 
.contact-phone:focus{
    color: var(--accent-color);
    
    fill: var(--accent-color);
}



.contact-item{
    margin-right: 10px;

    fill: currentColor;
}


/*====End Header====*/

/*====Start Hero====*/

.hero{
    max-width: 1600px;
    margin: auto;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url("../images/Img.png");
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--background-color-teme-dark);
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-button{
    min-width: 160px;
    padding: 10px 32px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin-top: 30px;
        /* background-color: transparent; */

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primery-text-color-teme-dark);
    background-color: var(--accent-color);
    text-transform: none;
    cursor: pointer;
}

.main-title{
    max-width: 690px;
    word-wrap: break-word;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--primery-text-color-teme-dark); 
}

/*====End Hero====*/

/*====Start Feature====*/

.feature-text{
    padding-top: 94px;
}

.feature-list-items{
    width: 270px;
}

.feature-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 30px;
}

.feature-wrapper{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;
    background-color: var(--background-color-teme-light);
}

.feature-item{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.feature-list-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark);
}

.feature-image{
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list-photos{
    display: flex;
    flex-direction: row;
}

.feature-list-photo:not(:last-child){
    margin-right: 30px;
}

/*====End Feature====*/

/*====Start Team====*/

.our-team{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--background-color-teme-light);
}

.about-team{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.about-team-items{
    flex-basis: calc((100% - 4*30px)/4);
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--primery-text-color-teme-dark);
    border-bottom: var(--secondary-text-color-teme-light);
}

.about-team-text{
    padding: 30px 20px;
    text-align: center;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about-team-name{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.about-team-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark);

    margin-bottom: 16px;
}

.social-list{
    display: flex;
    justify-content: center;  
    
    gap: 10px;
}


.social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    background-color: var(--primery-text-color-teme-dark);
    border-radius: 50%;
    fill: var(--third-text-color-teme-dark)
}



.social-list-link:hover, 
.social-list-link:focus{
    background-color: var(--accent-color);
    fill: var(--primery-text-color-teme-dark);
}

/*====End Team====*/


/*====Start Clients====*/

.our-clients{
    padding-top: 94px;
    padding-bottom: 94px;   
}

.about-clients{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.clients{
    flex-basis: calc((100% - 6*30px)/6);
    margin-left: 30px;
    margin-top: 30px;
    width: 170px;
    height: 92px;
}

.clients-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-bottom: var(--secondary-text-color-teme-light);
    border: 1px solid var(--third-text-color-teme-dark);
    border-radius: 4px;

    fill: var(--third-text-color-teme-dark);
}

.clients-wrapper:hover,
.clients-wrapper:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/*====End Clients====*/



/*====Start Footer====*/

.page-footer{
    display: flex;
    gap: 70px;
    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-teme-dark);
}

.footer-container{
    display: flex;
    align-items: baseline;
    /* flex-direction: column; */
}

.contact-address>.logo-link{
    margin-bottom: 20px;
    
    color: var(--primery-text-color-teme-dark);
}

.contact-address{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark);
}

.contacts{
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark); 
    opacity: 0.6;
}

.footer-links-container{
    gap: 20px;

    display: flex;
    margin-left: 70px;
    /* align-items: center; */
    align-items: baseline;
    flex-direction: column;
}

.footer-links-container>.footer-links-title{
    color: var(--primery-text-color-teme-dark);
}

.footer-links-container .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primery-text-color-teme-dark);
}

.footer-links-container .social-list-link:hover,
.footer-links-container .social-list-link:focus{
    background-color: var(--accent-color);
}


/*====End Footer====*/

/*====Start Project====*/

.project{
    padding-top: 94px;
    padding-bottom: 94px;   
}


.project-filter {
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
}

.projects-filter:not(:last-child){
    margin-right: 8px;
}

.project-filter-button{
    padding: 5px 20px;
    border: 1px solid var(--background-color-teme-light);
    background-color: transparent;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-light);
    background-color: var(--background-color-teme-light);
    text-transform: none;
    cursor: pointer;
}


.project-filter-button:hover, 
.project-filter-button:focus{
    background-color: var(--accent-color);
    color: var(--primery-text-color-teme-dark);
    box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-items-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.project-list-items{ 
    flex-basis: calc((100% - 4*30px)/4);
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: var(--secondary-text-color-teme-light);    
}

.project-list{
    display: block;
    width: 100%;
    height: 100%;
}

.project-list:hover, 
.project-list:focus{ 
    box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-text{ 
    padding: 20px 24px;
    border: solid #eeeeee;
    border-width: 0px 1px 1px 1px ;
}

.project-item{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color-teme-light); 
}

.project-list-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark); 
}
