:root{
    --primery-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primery-text-color-teme-light:#000000;
    --secondary-text-color-teme-light:#212121;
    --primery-text-color-teme-dark:#FFFFFF;
    --secondary-text-color-teme-dark:#757575;
    --accent-color: #2196F3;
    --background-color-teme-dark: #2F303A;
    --background-color-teme-light: #F5F4FA;
}

body{
    font-family: var(--primery-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle{
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.accent{
    color: var(--accent-color);
}

/*====Start Header====*/

.page-header{
    border-bottom: 1px solid var(--secondary-text-color-teme-dark);
}

.header-container{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.navigation{
    display: flex;
    align-items: center;
}

.logo-link{
    margin-right: 92px;

    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-light);   
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list-item:not(:last-child){
    margin-right: 50px;
}

.nav-list-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-light);
}

.nav-list-link:hover, 
.nav-list-link:focus{
    color: var(--accent-color);
}

.contacts-list{
    margin-left: auto;

    display: flex;
    align-items: center;
}
.contact-list-item:not(:last-child){
    margin-right: 50px;
}

.contact-mail, 
.contact-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-dark);
}

.contact-mail:hover, 
.contact-mail:focus, 
.contact-phone:hover, 
.contact-phone:focus{
    color: var(--accent-color);
}


/*====End Header====*/

/*====Start Hero====*/

.hero{
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--background-color-teme-dark);
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-button{
    min-width: 160px;
    padding: 10px 32px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin-top: 30px;
        /* background-color: transparent; */

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primery-text-color-teme-dark);
    background-color: var(--accent-color);
    text-transform: none;
    cursor: pointer;
}

.main-title{
    max-width: 690px;
    word-wrap: break-word;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--primery-text-color-teme-dark); 
}

/*====End Hero====*/

/*====Start Feature====*/

.feature-text{
    padding-top: 94px;
}

.feature-image{
    padding-top: 94px;
    padding-bottom: 94px;
}


.feature-list-items{
    width: 270px;
}

.feature-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 30px;
}

.feature-item{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.feature-list-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark);
}

.feature-list-photos{
    display: flex;
    flex-direction: row;
}

.feature-list-photo:not(:last-child){
    margin-right: 30px;
}

/*====End Feature====*/

/*====Start Team====*/

.our-team{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--background-color-teme-light);
}

.about-team{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.about-team-items{
    flex-basis: calc((100% - 4*30px)/4);
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: var(--secondary-text-color-teme-light);
}

.about-team-text{
    padding: 30px 20px;
    text-align: center;
}

.about-team-name{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.about-team-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark);
}

/*====End Team====*/

/*====Start Footer====*/

.page-footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-teme-dark);
}

.footer-container>.logo-link{
    color: var(--primery-text-color-teme-dark);
}

.contact-address{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark);
}

.contacts{
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark); 
    opacity: 0.6;
}

/*====End Footer====*/

/*====Start Project====*/

.project{
    padding-top: 94px;
    padding-bottom: 94px;   
}


.project-filter {
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
}

.projects-filter:not(:last-child){
    margin-right: 8px;
}

.project-filter-button{
    padding: 5px 20px;
    border: 1px solid var(--background-color-teme-light);
    background-color: transparent;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-light);
    background-color: var(--background-color-teme-light);
    text-transform: none;
    cursor: pointer;
}


.project-filter-button:hover, 
.project-filter-button:focus{
    background-color: var(--accent-color);
    color: var(--primery-text-color-teme-dark);
}

.project-items-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.project-list-items{ 
    flex-basis: calc((100% - 4*30px)/4);
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: var(--secondary-text-color-teme-light);
}

.project-list-text{ 
    padding: 20px 24px;
    border: solid #eeeeee;
    border-width: 0px 1px 1px 1px ;
}

.project-item{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color-teme-light); 
}

.project-list-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark); 
}
