:root{
    --primery-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primery-text-color-teme-light:#000000;
    --secondary-text-color-teme-light:#212121;
    --primery-text-color-teme-dark:#FFFFFF;
    --secondary-text-color-teme-dark:#757575;
    --third-text-color-teme-dark: #afb1b8;
    --accent-color: #2196F3;
    --background-color-teme-dark: #2F303A;
    --background-color-teme-light: #F5F4FA;
}

body{
    font-family: var(--primery-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle{
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.accent{
    color: var(--accent-color);
}

.visuality-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(0 0 0 0);
    overflow: hidden;
}
/*====Start Header====*/

.page-header{
    border-bottom: 1px solid #ececec;
}

.header-container{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.navigation{
    display: flex;
    align-items: center;
}

.logo-link{
    margin-right: 92px;

    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-light);   
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list-item:not(:last-child){
    margin-right: 50px;
}

.nav-list-link{
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-light);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover, 
.nav-list-link:focus{
    color: var(--accent-color);
}

.nav-list-link-hover::after{
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.contacts-list{
    margin-left: auto;

    display: flex;
    align-items:center;
}

.contacts-list:not(:last-child){
    margin-right: 10px;
}


.contact-list-item:not(:last-child){
    margin-right: 50px;
}

.contact-mail, 
.contact-phone {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-teme-dark);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail:hover, 
.contact-mail:focus, 
.contact-phone:hover, 
.contact-phone:focus{
    color: var(--accent-color);
    
    fill: var(--accent-color);
}



.contact-item{
    margin-right: 10px;

    fill: currentColor;
}


/*====End Header====*/

/*====Start Hero====*/

.hero{
    max-width: 1600px;
    margin: auto;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url("../images/Img.png");
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--background-color-teme-dark);
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-button{
    min-width: 160px;
    padding: 10px 32px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin-top: 30px;
        /* background-color: transparent; */

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primery-text-color-teme-dark);
    background-color: var(--accent-color);
    text-transform: none;
    cursor: pointer;
}

.main-title{
    max-width: 690px;
    word-wrap: break-word;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-text-color-teme-dark); 
}

/*====End Hero====*/

/*====Start Feature====*/

.feature-text{
    padding-top: 94px;
}

.feature-list-items{
    width: 270px;
}

.feature-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 30px;
}

.feature-wrapper{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;
    background-color: var(--background-color-teme-light);
}

.feature-item{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.feature-list-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark);
}

.feature-image{
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list-photos{
    display: flex;
    flex-direction: row;
}

.feature-list-photo:not(:last-child){
    margin-right: 30px;
}

.feature-list-photo{
    position: relative;
}


.feature-list-text{
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primery-text-color-teme-dark);
    background-color: rgba(47, 48, 58, 0.8);
}



/*====End Feature====*/

/*====Start Team====*/

.our-team{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--background-color-teme-light);
}

.about-team{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.about-team-items{
    flex-basis: calc((100% - 4*30px)/4);
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--primery-text-color-teme-dark);
    border-bottom: var(--secondary-text-color-teme-light);
}

.about-team-text{
    padding: 30px 20px;
    text-align: center;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about-team-name{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.about-team-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark);

    margin-bottom: 16px;
}

.social-list{
    display: flex;
    justify-content: center;  
    
    gap: 10px;
}


.social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    background-color: var(--primery-text-color-teme-dark);
    border-radius: 50%;
    fill: var(--third-text-color-teme-dark);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}


.social-list-link:hover, 
.social-list-link:focus{
    background-color: var(--accent-color);
    fill: var(--primery-text-color-teme-dark);
}

/*====End Team====*/


/*====Start Clients====*/

.our-clients{
    padding-top: 94px;
    padding-bottom: 94px;   
}

.about-clients{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.clients{
    flex-basis: calc((100% - 6*30px)/6);
    margin-left: 30px;
    margin-top: 30px;
    width: 170px;
    height: 92px;
}

.clients-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-bottom: var(--secondary-text-color-teme-light);
    border: 1px solid var(--third-text-color-teme-dark);
    border-radius: 4px;

    fill: var(--third-text-color-teme-dark);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-wrapper:hover,
.clients-wrapper:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/*====End Clients====*/



/*====Start Footer====*/

.page-footer{
    display: flex;
    gap: 70px;
    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-teme-dark);
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-contacts-container>.logo-link{
    /* margin-bottom: 20px; */
    
    color: var(--primery-text-color-teme-dark);
}

.contact-address{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark);
}

.contacts{
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark); 
    opacity: 0.6;
}

.footer-links-container{
    gap: 20px;

    display: flex;
    margin-left: 70px;
    /* align-items: center; */
    align-items: baseline;
    flex-direction: column;
}

.footer-links-container>.footer-links-title{
    text-transform: uppercase;
    color: var(--primery-text-color-teme-dark);
}

.footer-links-container .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primery-text-color-teme-dark);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links-container .social-list-link:hover,
.footer-links-container .social-list-link:focus{
    background-color: var(--accent-color);
}

.footer-subscription-container {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}

.footer-subscription-container>.footer-links-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--primery-text-color-teme-dark);
}

.subscription-form-field {
    display: block;
    padding-right: 12px;
}

.subscription-form{
    display: flex;
}


.subscription-form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    color: var(--background-color-teme-light);

    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
} 

.subscription-form-submit-btn {
    padding: 10px 28px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 4px;

    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-submit-btn:hover,
.subscription-form-submit-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form-text{
    display: flex;
    align-items: center;

    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primery-text-color-teme-dark);
    text-transform: none;
}


.subscription-icon {
    margin-left: 10px;
}


/*====End Footer====*/


/*====Start Modal-button====*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    /* box-sizing: none; */

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Надо раскомментитить перед отправкой! */

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 580px;
    border-radius: 4px;
    background-color: var(--primery-text-color-teme-dark);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    padding: 40px;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.75);
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    fill: var(--primery-text-color-teme-light);
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    fill: var(--accent-color);

}



.modal-header{
    margin-bottom: 12px;

    font-family: var(--primery-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.contact-text-name{
    font-family: var(--primery-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: var(--secondary-text-color-teme-dark);
}

.contact-form-field{
    display: block;
    margin-bottom: 10px;
}

.contact-form-input-wrapper{
    position: relative;
    display: block;
    margin-top: 4px;
}

.contact-form-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus{
    outline: none;
    border-color: var(--accent-color);
}

.contact-form-input:focus + .contact-form-icon{
    fill: var(--accent-color);
}

.contact-form-icon{
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message{
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.contact-form-message::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper{
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
}


.contact-form-checkbox-label{
    display: flex;
    align-items: center;
    position: relative;

    font-family: var(--primery-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color-teme-dark);
}

.contact-form-checkbox-label>a{
    color: var(--accent-color);
}

/* .contact-form-link::after {
    position: absolute;
    bottom: 0;
    right: 0;

    content: '';
    width: 28%;
    height: 1px;
    background-color: var(--accent-color);
} */



.contact-form-checkbox-label::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--secondary-text-color-teme-light);
    cursor: pointer;

    margin-right: 10px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
    background-image: url(../images/icon-check.svg);
    border: var(--accent-color)
    /* background-color: var(--accent-color);
    box-shadow: 0 0 0 4px; */
}

.contact-form-checkbox:focus+.contact-form-checkbox-label::before{
    outline: 1px solid var(--accent-color);
}

.contact-form-submit-btn {
    display: block;
    margin: 0 auto;

    padding: 10px 52px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 4px;

    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primery-text-color-teme-dark);
    text-transform: none;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*====End Modal-button====*/


/*====Start Project====*/

.project{
    padding-top: 94px;
    padding-bottom: 94px;   
}

.project-filter {
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
}

.projects-filter:not(:last-child){
    margin-right: 8px;
}

.project-filter-button{
    padding: 5px 20px;
    border: 1px solid var(--background-color-teme-light);
    background-color: transparent;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-light);
    background-color: var(--background-color-teme-light);
    text-transform: none;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-filter-button:hover, 
.project-filter-button:focus{
    background-color: var(--accent-color);
    color: var(--primery-text-color-teme-dark);
    box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-items-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.project-list-items{ 
    flex-basis: calc((100% - 4*30px)/4);
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: var(--secondary-text-color-teme-light);    
}

.project-list{
    display: block;
    width: 100%;
    height: 100%;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project-wrapper{
    position: relative;

    overflow: hidden;
}

.project-list:hover .project-overlay {
    transform: translateY(0);
}

.project-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.project-text{
    padding: 62px 24px;

    font-family: var(--primery-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark);
}

.project-list:hover{ 
    box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-list-text{ 
    padding: 20px 24px;
    border: solid #eeeeee;
    border-width: 0px 1px 1px 1px ;
}

.project-item{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color-teme-light); 
}

.project-list-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark); 
}

/*====End Project====*/