// 0px - 1199px
.main-title {
    max-width: 360px;
    word-wrap: break-word;
    text-align: center;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.42;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-text-color-teme-dark);
}

//1200px +
@media screen and (min-width: 1200px) {
    .main-title {
        max-width: 690px;

        font-size: 44px;
        line-height: 1.36;
    }
}