.social-list {
    display: flex;
    justify-content: center;

    gap: 10px;
}


.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    background-color: var(--primery-text-color-teme-dark);
    border-radius: 50%;
    fill: var(--third-text-color-teme-dark);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: var(--accent-color);
        fill: var(--primery-text-color-teme-dark);
    }
}


