.subtitle {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}
@media screen and (min-width: 1200px){
    .subtitle{
        font-size: 36px;
    }
}