// .container {
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
// }

// 0px - 479px
.container{
    padding-left: 15px;
    padding-right: 15px;
    
    // Правка 18.04.23
    // width: 320px;
    // background-color: var(--via-magenta);
}

// 480px - 767px
@media screen and (min-width: 480px){
    .container {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}

// 768px - 1199px
@media screen and (min-width: 768px) { 
    .container {
        width: 768px;
    }     
}

// 1200px +
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}