:root {
    --primery-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primery-text-color-teme-light: #000000;
    --secondary-text-color-teme-light: #212121;
    --primery-text-color-teme-dark: #FFFFFF;
    --secondary-text-color-teme-dark: #757575;
    --third-text-color-teme-dark: #afb1b8;
    --accent-color: #2196F3;
    --background-color-teme-dark: #2F303A;
    --background-color-teme-light: #F5F4FA;
}