.our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.clients__about {
    flex-basis: calc((100% - 6*30px)/6);
    margin-left: 30px;
    margin-top: 30px;
    width: 170px;
    height: 92px;
}

.clients__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-bottom: var(--secondary-text-color-teme-light);
    border: 1px solid var(--third-text-color-teme-dark);
    border-radius: 4px;

    fill: var(--third-text-color-teme-dark);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
}

