.footer-contacts-container>.logo-link {
    color: var(--primery-text-color-teme-dark);
}

// 0px - 1199px
@media screen and (max-width: 1199px){
    .footer-contacts-container>.logo-link{
        margin: 0;
    }
    .footer-contacts-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-address{
        align-items: center;
    }
}


// 0px - 767px

.contact-address {
    margin-top: 20px;
    display: flex;
    // align-items: flex-start;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark);
}

.contacts {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-teme-dark);
    opacity: 0.6;
}

.footer-links-container {
    gap: 20px;

    padding-top: 60px;
    display: flex;

    align-items: center;
    flex-direction: column;

    &>.footer-links-title {
        text-transform: uppercase;
        color: var(--primery-text-color-teme-dark);
    }

    & .social-list-link {
        background-color: rgba(255, 255, 255, 0.1);
        fill: var(--primery-text-color-teme-dark);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .social-list-link:hover,
    & .social-list-link:focus {
        background-color: var(--accent-color);
    }
}

// 768px - 1199px
@media screen and (min-width: 768px) {
    .footer-links-container {
        padding-top: 0;

    }
}

// 1200px +
@media screen and (min-width: 1200px) {
    .footer-links-container {
        margin-left: 70px;
        align-items: baseline;
    }
}

