.our-team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--background-color-teme-light);
}
@media screen and (min-width: 1200px) {
    .our-team {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.about-team__items{
    margin-top: 30px;
    width: 270px;
    background-color: var(--primery-text-color-teme-dark);
    border-bottom: var(--secondary-text-color-teme-light);
}

@media screen and (min-width: 480px){
    .about-team__items{
        margin-top: 0;
        width: 450px;
    }
}


@media screen and (min-width: 768px){
    .about-team {
        display: flex;
        flex-wrap: wrap;
        // margin-left: -30px;
        // margin-top: -30px;
    }
    .about-team__items {
        flex-basis: calc((100% - 2*30px)/2);
        width: 354px;
        margin-left: 30px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .about-team {
        margin-left: -30px;
        margin-top: -30px;
    }

    .about-team__items {
        flex-basis: calc((100% - 4*30px)/4);
        width: 270px;
    }
}
// .our-team {
//     padding-top: 94px;
//     padding-bottom: 94px;

//     background-color: var(--background-color-teme-light);
// }

// .about-team {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: -30px;
//     margin-top: -30px;
// }

// .about-team__items {
//     flex-basis: calc((100% - 4*30px)/4);
//     margin-left: 30px;
//     margin-top: 30px;
//     background-color: var(--primery-text-color-teme-dark);
//     border-bottom: var(--secondary-text-color-teme-light);
// }

.about-team__text {
    padding: 30px 20px;
    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about-team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-light);
}

.about-team__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-teme-dark);

    margin-bottom: 16px;
}