// 0px - 767px

.hero {
    // max-width: 480px;
    margin: auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Img-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 118px;
    padding-bottom: 118px;

    background-color: var(--background-color-teme-dark);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
        url("../images/Img-mobile-@2x.jpg");
    }
}

// 768px - 1199px
@media screen and (min-width: 768px) {
    .hero {
        // max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Img-desktop.jpg");
        background-size: contain;
        // background-position: none;
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) and (min-width: 768px){
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Img-desktop-@2x.jpg");
    
        background-size: contain;
        // background-position: none;
    }
}

// 1200px +
@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;

        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Img-desktop.jpg");
        
        background-size: cover;
        background-position: center;
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Img-desktop-@2x.jpg");
        
        background-size: cover;
        background-position: center;
    }
}

// all size
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}