.feature-image {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list__photos {
    display: flex;
    flex-direction: row;
}

.feature-list__photo:not(:last-child) {
    margin-right: 30px;
}

.feature-list__photo {
    position: relative;
}

.feature-list__signature {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primery-text-color-teme-dark);
    background-color: rgba(47, 48, 58, 0.8);
}